.Home {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 7% !important;
  margin: 0 auto;
  padding-top: 9%;
}

.home-content {
  margin-top: 9%;
  margin-left: 3%;
  width: 62%;
}

.intro {
  justify-content: space-around;
}

.full-stack {
  padding-left: 0;
  margin-top: 30px;
  padding-bottom: 1%;
}

.typewriter-wrapper .first-word {
  display: inline-block;
}

.typewriter-wrapper .second-word {
  display: inline-block;
  margin-left: -2%;
}

.home-button-div {
  display: flex;
  margin-left: 22%;
  width: 100%;
  gap: 20px;
  margin-top: 30px;
}

h1 {
  font-size: 44px;
  margin: 10px 0;
  font-family: "montserrat", sans-serif;
  font-weight: 700;
}

.full-name {
  color: #E64833;
  font-size: 45px;
  font-family: "montserrat", sans-serif;
  font-weight: 700;
}

.photo {
  margin-top: -3.5%;
  width: 30%;
  z-index: 1;
}

.photo img {
  max-width: 100%;
  max-height: 700px;
  margin-top: 26%;
  border-radius: 5px;
}

.home-button {
  margin: 0;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #EAE7DC;
  border-radius: 5px;
  background-color: #E64833;
  color: #EAE7DC;
  width: 25%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  z-index: 1;
}

.home-button:hover {
  background-color: #EAE7DC;
  color: #E64833;
  border: 1px solid #E64833;
}

.tagline {
  margin-top: 4%;
  justify-content: space-around;
  display: flex;
}

.profiles {
  margin-top: 2%;
  display: flex;
  align-items: center;
  padding-left: 44%;
  gap: 30px;
}

.lin img {
  width: 34px;
  height: 34px;
}

.gb img {
  width: 36px;
  height: 36px;
}

.mail img {
  width: 42px;
  height: 42px;
}
