

.skills-page {
    padding-top: 3%;
    padding-bottom: 4%;
    margin-left: 9%;
    display: flex;
    width: 85%;
}

.first-half{

   width: 50%;
   flex: 1;
   z-index: 1;
}
.second-half{
    margin-right: 10%;
    width: 50%;
    gap: 3.3%;
      flex: 1;
      z-index: 1;
}
.skills-header {
    text-align: center;
}

.development {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    z-index: 1;
    border-radius: 5px;
    background-color: #111111;
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.3);
    padding: 8%;
    margin-top: 2%;
}

.machine-learning {

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    z-index: 1;
    border-radius: 5px;
    background-color: #111111;
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.3);
    padding: 8%;
    margin-top: 2%;
}

.languages {

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    z-index: 1;
    border-radius: 5px;
    background-color: #111111;
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.3);
    padding: 8%;
    margin-top: 2%;
}

.second-half{
        margin-left: 12%;
        display: flex;
        flex-direction: column;

}


.row {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 80px;
    border: 1px #444444 solid;
    transition: background-color 0.3s ease;
    padding: 10px;
    border-radius: 5px;
    text-align: center;

}

.tech-item:hover {
    background-color: rgba(126, 96, 191, 0.1);
    transform: scale(1.1);

}
.tech-logo {
    width: 60px;
    height: 60px;
}

.tech-item p {
    margin-top: auto;
    font-size: 12px;
    color: #EAE7DC;
}

.development-p{
        font-family: "montserrat", sans-serif;
        font-weight:600;
        text-align: center;
        color: #E64833;
}